<%content_for :title do %>
   Editing Department For Test &ndash;<%=DateTime.now.to_s(:nice_date)%> 
<%end%>

<div class="mt-6">
<%= render 'form', department_for_test: @department_for_test %>

<%= link_to 'Show', @department_for_test, class: 'button is-primary is-outlined is-small' %>
<%= link_to 'Back', department_for_tests_path, class: 'button is-link is-outlined is-small' %>
</div>