<% content_for :title do %>
   RESULTS &ndash;<%=DateTime.now.to_s(:nice_date)%> 
<%end%>
<h1>All results</h1>
<% @results.each do |result|%>
<ul>
<li>  
   <%= result.id%>
   <%= link_to result.sample_id, sample_result_path(result.sample_id,result.id) %>
</li>
</ul>

<%end%>