<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>This email has been sent to you sent from <strong>CRDL</strong>!</h1>
    <p>
    <h3>To vew more details of this result click on the following link: <%= link_to 'result link', sample_result_url(email_params.result.sample_id, email_params.result) %></h3>
    </p>
    <p>
  </body>
</html>
