<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You got a new result to the sample you sent from <%= @result.sample.name %>!</p>
    <p>
    Result details<br>
    --------------------------
    </p>
    <p>Sample Name: <%= @result.sample.name %></p>
    <p>Email: <%= @result.sample.email %></p>
    <p>
  </body>
</html>
