You got a new result to the sample you sent from <%= @result.sample.name %>!</p>
    
Sample Name: <%= @result.sample.name %>
To vew more details of this result click on the following link: <%= link_to 'new result link', sample_result_url(@result.sample_id, @result) %>
    
