You got a new result to the sample you sent from <%= @result.sample.name %>!</p>
    
Result details<br>
--------------------------

Sample Name: <%= @result.sample.name %>
Email: <%= @result.sample.email %>
