<p id="notice"><%= notice %></p>

<p>
  <strong>Sample:</strong>
  <%= @price.sample_id %>
</p>

<p>
  <strong>Lab tests:</strong>
  <%
    puts "This is the sent price #{@price.lab_tests}"
  %>
</p>

<%= link_to 'Edit', edit_sample_price_path(@price) %> |
<%= link_to 'Back', sample_prices_path %>
